# HwBinder IPC from client to server
binder_call(hal_lineage_gamekeys_client, hal_lineage_gamekeys_server)
binder_call(hal_lineage_gamekeys_server, hal_lineage_gamekeys_client)

hal_attribute_service(hal_lineage_gamekeys, hal_lineage_gamekeys_service)
