type hal_lineage_health_service, hal_service_type, service_manager_type;
type hal_lineage_livedisplay_service, hal_service_type, service_manager_type;
type hal_lineage_powershare_service, hal_service_type, service_manager_type;
type hal_lineage_touch_service, hal_service_type, service_manager_type;
type hal_lineage_gamekeys_service, hal_service_type, service_manager_type;
type hal_lineage_touchinjector_service, hal_service_type, service_manager_type;
type hal_lineage_leds_service, hal_service_type, service_manager_type;
